.buttonNavigationBar {
    height: 7vh;
    width: 7vh;
    background-color: rgb(224, 234, 254);
    border-radius: 30%;
    border: none;
    cursor: pointer;
}

.buttonNavigationBar.active {
    background-color: rgb(63 128 255);
    box-shadow: inset 0px 0px 0px 3px #ffbd00
}

.buttonNavigationBar img {
    height: 5vh;
}