.bodyLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#224ebb 40%, #0F2355);
    height: 100vh;
}

.bodyLogin img {
    height: 25vh;
}

.buttonLoginByGoogle{
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: white;
    border-radius: 2vh;
    border: none;
    padding: 1vh;
}