.sectionDashboardHome {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
}

.dateStyle {
    font-weight: 400;
    font-style: italic;
}

/* element:last-child{
    padding-bottom: 10vh;
} 
    adicionar isso ao ultimo elemento para a barra de navegacao nao cobrir  
*/