.headerError404 {
    display: flex;
    padding: 1vh;
    background-color: #224ebb;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
}

.divError404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vh;
    gap: 20vh;
    height: 80vh;
}

.divError404 a {
    text-decoration: none;
    color: black;
}

.divError404Link {
    display: flex;
    gap: 1vh;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.divError404Link b {
    color: #224ebb;
    text-decoration: underline;
}

.imgError404 {
    height: 20vh;
    transform: translateX(1vh) translateY(-2vh);
}

.divImgError404 {
    display: flex;
    justify-content: end;
    align-items: end;
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
}